<div class="window">
  <div class="statusbar">
    {{ status }}
  </div>
  <h1 class="username">
    {{ user?.name }}
  </h1>
  <button (click)="removeUser()" class="delete-button">x</button>
  <ul *ngIf="messages" class="messages">
    <li
      *ngFor="let msg of messages"
      class="message"
      [ngClass]="{
        active: msg.userId === user.id
      }"
    >
      <h2 class="user">{{ msg.userId === user.id ? 'Me' : msg.userName }}:</h2>
      <p class="text">{{ msg.message }}</p>
    </li>
  </ul>

  <div class="input">
    <form (ngSubmit)="addMessage()">
      <input [(ngModel)]="message" name="message" placeholder="write some" />
      <button class="green">Send message</button>
    </form>
  </div>
</div>
