.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }
}

.windows-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
