body,
button,
p,
input {
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(70, 70, 70);
  font-size: 14px;
}

button {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px 10px;
  cursor: pointer;

  &.green {
    background-color: rgb(0, 147, 100);
  }

  &.red {
    background-color: #fd0740;
  }
}

input {
  margin: 3px 3px 0 0;
  padding: 3px;
}
